<button (click)="onClick()">Start A* algorithm</button>

<div class="grid">
    <div class="row" *ngFor="let row of nodes">
        <div class="node" 
            draggable="true"
            (drag)="onDrag($event)"
            (dragstart)="onDragStart($event)"
            (dragend)="onDragEnd($event)"
            (dragenter)="onDragEnter($event)"
            (dragleave)="onDragLeave($event)"
            (dragover)="onDragOver($event)"
            (drop)="onDrop($event)"
            [ngClass]="{'start': node.isStart, 'finish': node.isFinish, 'shortest-path': node.isInShortestPath}" 
            *ngFor="let node of row">
        </div>
    </div>
</div>  