.grid {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    border-left: solid rgb(183, 232, 238) 1px;
    border-top: solid rgb(183, 232, 238) 1px;
}

.node {
    width: 19px;
    height: 19px;
    border-right: solid rgb(183, 232, 238) 1px;
    border-bottom: solid rgb(183, 232, 238) 1px;
    padding:0;
    margin:0;
    float: left;
}

.node:hover {
    background-color: rgb(184, 185, 185);
}

.start {
    background-color: green;
}

.finish {
    background-color: red;
}

.wall {
    background-color: black;
}

.shortest-path {
    animation: 1s ease-in-out 0s both change-color-shortest-path;
}

.visited {
    animation: 1s ease-in-out 0s both change-color-visited;
}

.start:hover {
    background-color: green;
}

.finish:hover {
    background-color: red;
}

.can-be-wall:hover {
    background-color: black;
}

#buttons {
    display: flex;
    justify-content: center;
    width: 500px;
    margin: 0 auto;
    padding: 20px;
}

.button {
    margin-right: 10px;
    margin-left: 10px;
}

#wall-btn {
    background-color: black;
    color: white;
}

@keyframes change-color-visited {
    from { background-color: white; }
    to { background-color: yellow; } 
}

@keyframes change-color-shortest-path {
    from { background-color: white; }
    to { background-color: aqua; } 
}